<h1>相談者一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :content, "検索" %>
  <%= f.search_field :content_cont %>

  <%#= f.label :年齢 %>
  

  <%= f.label :性別 %>
　<%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :gender_eq, 1 %>男性
  <%= f.radio_button :gender_eq, 2 %>女性
  <!--ここまで追加-->

  <%= f.submit "検索" %>
<% end %>

<table>
<tr>
  <th>プロフィール写真<th>
  <th>ニックネーム<th>
  <th>年齢<th>
  <th>性別<th>
  <th>服に関するお悩み<th>
</tr>

<% @users.each do |user| %>
  <% unless user.adviser? %>
  <tr>
    <td><%= user.nickname %></td>
    <td><%= user.age %></td>
    <% unless user.hide_gender? %>
    <td><%= user.gender %></td>
    <% end %>
    <td><%= user.content %></td>
    <td><%= link_to '詳細を見る', user_path(user.id) %>
  </tr>
  <% end %>
<% end %>

</table>
      