<%= link_to I18n.t('activerecord.views.mypage'), user_path(current_user.id) %>
<%= link_to I18n.t('activerecord.views.edit_mypage'), edit_user_path(current_user.id) %>
<%= link_to I18n.t('activerecord.views.logout'), session_path(current_user.id), method: :delete %>

<h1>相談者一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :content, I18n.t('activerecord.views.search') %>
  <%= f.search_field :content_cont %>

  <%= f.label I18n.t('activerecord.attributes.user.age') %>
  <%= f.select :age_eq, options_for_select([['指定なし', ''], ['20代','20代'], ['30代','30代'], ['40代','40代'], ['50代以上','50代以上']], :selected => :age) %>
  
  <%= f.label I18n.t('activerecord.attributes.user.gender') %>
　<%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :gender_eq, 1 %>男性
  <%= f.radio_button :gender_eq, 2 %>女性
  
  <%= f.submit I18n.t('activerecord.views.search') %>
<% end %>

<table>
<tr>
  <th>プロフィール画像<th>
  <th>ニックネーム<th>
  <th>年齢<th>
  <th>性別<th>
  <th>服に関するお悩み<th>
</tr>

<% @users.each do |user| %>
  <% unless user.adviser? %>
  <tr>
    <td><%= image_tag user.image.url %></td>
    <td><%= user.nickname %></td>
    <td><%= user.age %></td>
    <% unless user.hide_gender? %>
    <td><%= user.gender %></td>
    <% end %>
    <td><%= user.content %></td>
    <td><%= link_to I18n.t('activerecord.views.message'), conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
    <td><%= render 'follow_form', user: user %></td>
    <td><%= link_to I18n.t('activerecord.views.detail'), user_path(user.id) %>
  </tr>
  <% end %>
<% end %>

</table>
      