<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
    <div class="item">
        <div class="kidoku">
          <div class="phrase"><strong><%= message.user.nickname %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %> /
              <% if message.user == current_user %>
                <%= message.read ? I18n.t('activerecord.views.kidoku') : I18n.t('activerecord.views.midoku') %>
              <% end %>  
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<section class="message-new yellow blue">
<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
  <%= f.submit I18n.t('activerecord.views.message'), class: 'btn btn-success' %>
  </div>
<% end %>
</section>