<section class="box11">
<p>
<h2>Log in</h2>
<hr>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <%= f.label I18n.t('activerecord.views.Email') %><br>
    <%= f.email_field :email %><br>

    <div class="field"><%= f.label I18n.t('activerecord.views.Password') %><br>
    <%= f.password_field :password %>
    </div>
    <div class="filed">
    <%= f.submit 'Log in', class: 'btn btn-primary' %>
    </div>
<% end %>
</p>
</section>
