<h1 class="heading02">スタイリスト一覧</h1>
<div class="kensaku clearfix">
<%= search_form_for @q do |f| %>
  <%= f.label :content, I18n.t('activerecord.views.search') %>
  <%= f.search_field :content_cont %>

  <%= f.label I18n.t('activerecord.attributes.user.age') %>
  <%= f.select :age_eq, options_for_select([['指定なし', ''], ['20代','20代'], ['30代','30代'], ['40代','40代'], ['50代以上','50代以上']], :selected => :age) %>
  
  <%= f.label I18n.t('activerecord.attributes.user.gender') %>
　<%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :gender_eq, 0 %>男性
  <%= f.radio_button :gender_eq, 1 %>女性
  
  <%= f.submit I18n.t('activerecord.views.search') %>
<% end %>
</div>

<% @users.each do |user| %>
  <% if user.adviser? %>
  <div class="index_css flex_shokai">
  　<% if user.image? %>
    <%= image_tag user.image.url %>
    <% else %>
    <%= image_tag "default.png", :size => '200x130' %>
　　<% end %>
    <%= user.nickname %>
    <%= user.age %>
    <% unless user.hide_gender? %>
    <%= user.gender %>
    <% end %>
    <%= user.content %>
    <%= link_to I18n.t('activerecord.views.message'), conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post, id: "send_message" %></td>
    <%= render 'follow_form', user: user %>
    <%= link_to I18n.t('activerecord.views.detail'), user_path(user.id) %>
  </div>
  <% end %>
<% end %>



      