<% if current_user.adviser? %>
<%= link_to '相談者一覧を見る', advisers_path %>
<% else %>
<%= link_to 'スタイリスト一覧を見る', users_path %>
<% end %>
<%= link_to 'マイページ編集', edit_user_path(current_user.id) %>
<h1><%= @user.nickname %>さんのページ</h1>
<%= render 'stats' %>

<p>
  <strong>プロフィール画像:</strong>
  <%= image_tag @user.image.url %>
</p>
<h4>年齢:<%= @user.age %></h4>
<% unless @user.hide_gender? %>
<h4>性別:<%= @user.gender %></h4>
<% end %>
<h4>自己紹介:<%= @user.content %></h4>


<% if current_user.id != @user.id %>
<div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, user: @user } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, user: @user } %>
<% end %>