<section class="box10">
<div class="introduction">
  <div class="flex_stats">
    <div class="stats nickname"><%= @user.nickname %>さん</div>
    <div class="stats age"><%= @user.age %></div>
<% unless @user.hide_gender? %>
<div class="stats gender"><%= @user.gender %></div>
<% end %>
  <% if current_user.id == @user.id %>
    <%= render 'stats', user: @user, class: "stats follow_count" %>
  <% else %>
    <div class="stats follow_count">フォロワー<%= @user.followers.count %>名</div>
  <% end %>
  <% if current_user.id == @user.id %>
  <%= link_to I18n.t('activerecord.views.edit_mypage'), edit_user_path(current_user.id), class: "stats" %>
  <% end %>
  </div>
  <hr>
<p>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
  <% else %>
  <image src=".db/fixtures/default.png" class="icon" alt="ユーザーアイコン" %>
<% end %>
</p>
<h4><%= @user.content %></h4>
<hr>
<div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, user: @user } %>
  </div>
</div>
</section>
<% if current_user.id != @user.id %>
<section class="box4">
<h4>レビュー投稿</h4>
  <p><%= render partial: 'comments/form', locals: { comment: @comment, user: @user } %></p>
</section>
<% end %>